@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

video {
    width: 100%;
    max-width: 800px;
    height: auto;
}

@media(max-widht:768px) {
    video {
        max-width: 100%;
    }
}
